<h2>Custom class & Style Directives</h2>
<div [appClass]="{'app-container': true, appHeighlight: true, appFont: 5 > 2}">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a
    liqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</div>

<div class="container">
  <input type="text" #inputEl>
  <button (click)="onClicked(inputEl)">Submit</button>
  <app-demo [message]="inputVal"></app-demo>
</div>
