h2{
    margin: 20px 50px;
    font-family: 'Lucida Sans';
    color: #28282B;
}
.app-container{
    margin: 20px 50px;
    padding: 10px 20px;
}

.appHeighlight{
    border: #28282B 3px solid;
    background-color: gold;
}
.appFont{
    font-family: 'Lucida Sans';
    font-size: 18px;
}

.container{
    width: 320px;
    margin: 100px auto;
    padding: 30px 40px;
    border-radius: 3px;
    box-shadow: 10px 10px 5px #aaaaaa;
    background-color: #eee;
}

button{
    background-color: #282828;
    color:white;
    padding: 5px 10px;
    font-size: 10px;
    border: none;
    border-radius: 2px;
    margin-left: 5px;
}