<app-snackbar [errorMessage]="errorMessage" *ngIf="errorMessage"></app-snackbar>
<app-loader *ngIf="isLoading"></app-loader>
<div class="app-login-form">
  <h2>{{ isLoginMode ? "Login" : "Register" }} Here</h2>
  <form #authForm="ngForm" (ngSubmit)="onFormSubmitted(authForm)" *ngIf="!isLoading">
    <div class="form-input">
      <label>Email Address</label>
      <input type="email" placeholder="Email address" name="email" ngModel required>
    </div>
    <div class="form-input">
      <label>Password</label>
      <input type="password" placeholder="Password" name="password" ngModel required minlength="8">
    </div>
    <button type="submit" class="app-login-btn" [disabled]="authForm.invalid">{{ isLoginMode ? "Login" : "Register" }}</button>
    <p>{{ isLoginMode ? "Do not have an account yet?" : "Already you have an account?" }}
      <button class="app-toggle-btn" (click)="onSwitdhMode()">{{ isLoginMode ? "Register" : "Login" }} Here.</button>
    </p>
  </form>
</div>
